{
    "presets": ["es2015", "stage-0", "react"],
    "env": {
        "development": {
            "presets": ["react-hmre"]
        },
        "production": {
            "compact": true
        }
    },
    "plugins": [
        "transform-object-assign",
        "transform-decorators-legacy"
    ]
}
