.drag-container{
  margin:50px 0 0 50px;
}
.dustbin {
    width:100px;
    height:260px;
    line-height:260px;
    background-color:#d9d9d9;
    font-size:60px;
    font-family:"微软雅黑", "Yahei Mono";
    text-align:center;
    text-shadow:-1px -1px #bbb;
    float:left;
    color:#f52d80;
}
.dragbox {
    width:500px;
    padding-left:20px;
    float:left;
}
.draglist {
    padding:10px;
    margin-bottom:5px;
    border:2px dashed #ccc;
    background-color:#eee;
    cursor:move;
}
.draglist:hover {
    border-color:#cad5eb;
    background-color:#f0f3f9;
}
.dragremind {
    padding-top:2em;
    clear:both;
}

#div1, #div2 {
    float:left;
    width:198px;
    height:66px;
    margin:10px;
    padding:10px;
    border:1px solid #aaaaaa;
}
