a,button,input{
  outline: 0 none;
}
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius: 2em;
}

::-webkit-scrollbar-thumb {
    background-color: #c1c1c1;
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius: 2em;
    transition: all 1s ease 0s;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #aaa;
  -webkit-box-shadow: inset 1px 1px 0 rgba(0,0,0,.1);
}
.sider-logo{
  padding:10px;
  color:#fff;
  span {
    font-size: 12px;
  }
  h2{
    font-size: 20px;
    font-weight: 400;
    color:#f78006;
  }
}

.rc-lab-layout .trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 16px;
  cursor: pointer;
  transition: color .3s;
}

.rc-lab-layout .trigger:hover {
  color: #108ee9;
}

.rc-lab-layout .logo {
  height: 32px;
  background: #333;
  border-radius: 6px;
  margin: 16px;
}

.rc-lab-layout .ant-layout-sider-collapsed .anticon {
  font-size: 16px;
}

.rc-lab-layout .ant-layout-sider-collapsed .nav-text {
  display: none;
}
.card-container{
    max-height: 500px;
    overflow: auto;
}
